test.cpp
test.cp
build
*.pyc
*~
*.py~
__pycache__
#*
.#*
.directory
*.so
*.o
build
a.out
*.so*
cgmp.cpp
CGmp.cmd
foo
bar
parpydtk2.egg-info
dist
CGmp.cmd
*.check
*.log
*.move
*.debug
.ipynb_checkpoints
indices.cpp
grids.cpp
geometry.cpp
*.egg-info
.clang_complete
test.py
test0.py
test1.py
test2.py
test3.py
test4.py
test5.py
test6.py
test7.py
test8.py
test9.py
test10.py
test_foo.py
test_bar.py
test_spam.py
.vscode
